<template>
  <div>
    <b-card-group deck>
      <b-card
        header="Atividade 1"
        header-tag="header"
        footer="Inicia em 28/05/2021 às 13h30 e finaliza em 04/06/2021 às 23h59"
        footer-tag="footer"
        title="Analisar o PIB brasileiro"
      >
        <b-card-text>
          •Analisar os dados do PIB brasileiro (Total e Per Capita) do período
          de 1994 a 2019
        </b-card-text>
        <b-card-text> •Construir um gráfico do PIB </b-card-text>
        <b-card-text>•Calcular a taxa de crescimento (P2 – P1)/P1 </b-card-text>
        <b-card-text>
          •Identificar o período que o país mais cresceu.
        </b-card-text>
        <b-button to="/nocoes_economia/atividade1" variant="primary">
          Ir para atividade
        </b-button>
      </b-card>
      <b-card
        header="Atividade 2"
        header-tag="header"
        footer="Inicia em 28/05/2021 às 13h30 e finaliza em 04/06/2021 às 23h59"
        footer-tag="footer"
        title="Análise das Exportações e das Importações Brasileiras"
      >
        <b-card-text> 1. Acesse o site do IPEA (link). </b-card-text>
        <b-card-text class="align-just">
          <p>
            2. Baixe os dados das Exportações e Importações brasileiras para o
            período de 1995 - 2019.
          </p>
          <p>
            2.1. Exportações (X): Balanço de Pagamentos - Balança Comercial -
            Exportações - (Anual - US$)
          </p>
          <p>
            2.2. Importações (M): Balanço de Pagamentos - Balança Comercial -
            Importações - (Anual - US$)
          </p>
        </b-card-text>
        3. Calcule o Déficit ou Superávit da Economia Brasileira (X - M)
        <b-card-text>
          <p>
            4. Calcule os Coeficientes abaixo para o período de 1994 - 2019.
            (Fórmula: X/PIB e M/PIB).
          </p>
          <p>4.1. Coeficiente de Exportação: X/PIB</p>
          <p>
            4.2. Coeficiente de Penetração de Importações: M/PIB Qual o ano o
            Brasil apresentou maior déficit e superávit? E em relação aos
            Coeficientes de Abertura Comercial, qual ano eles foram menores e
            maiores?
          </p>
        </b-card-text>
        <b-button to="/nocoes_economia/atividade2" variant="primary">
          Ir para atividade
        </b-button>
      </b-card>
      <b-card
        header="Avaliação 1"
        header-tag="header"
        footer="Inicia em 25/06/2021 às 13h30 e finaliza em 02/07/2021 às 13h30"
        footer-tag="footer"
        title="Analisar o PIB brasileiro"
      >
        <b-card-text>
          • Taxa de crescimento do PIB (R$ e US$), das exportações e das
          importações
        </b-card-text>
        <b-card-text>
          • Calcule o déficit/superávit da economia brasileira (PIB US$)
        </b-card-text>
        <b-card-text
          >• Participação das Exportações e das Importações no PIB (R$)
        </b-card-text>
        <b-card-text>
          •Identificar o período que o país mais cresceu.
        </b-card-text>
        <b-button to="/nocoes_economia/avaliacao1" variant="primary">
          Ir para atividade
        </b-button>
      </b-card>
    </b-card-group>
  </div>
</template>

<script>
export default {}
</script>

<style lang="scss">
.align-just > {
  text-align: start;
}
</style>
