<template>
  <div class="conteudo">
    Noções de Economia - Atividade 2
    <b-row align-h="center">
      <b-col xl="8">
        <h5>Análise das Exportações e das Importações Brasileiras</h5>
        <br />
        <b-row>
          <b-col xl="6">
            <b-form-datepicker
              v-model="data_inicial"
              placeholder="Data inícial"
              :date-format-options="{
                year: 'numeric',
                month: 'numeric',
                day: 'numeric',
              }"
              locale="pt"
              start-weekday="1"
            />
          </b-col>
          <b-col xl="6">
            <b-form-datepicker
              v-model="data_final"
              placeholder="Data final"
              :date-format-options="{
                year: 'numeric',
                month: 'numeric',
                day: 'numeric',
              }"
              locale="pt"
              start-weekday="1"
            />
          </b-col>
        </b-row>
        <br />
        <b-row>
          <b-col xl="10">
            <b-form-file
              v-model="arquivo_pib"
              :state="Boolean(arquivo_pib)"
              placeholder="Selecione o arquivo do PIB"
              drop-placeholder="Drop file here..."
            />
            <hr />
            <b-form-file
              v-model="arquivo_importacao"
              :state="Boolean(arquivo_importacao)"
              placeholder="Selecione o arquivo da Importação"
              drop-placeholder="Drop file here..."
            />
            <hr />
            <b-form-file
              v-model="arquivo_exportacao"
              :state="Boolean(arquivo_exportacao)"
              placeholder="Selecione o arquivo da Exportação"
              drop-placeholder="Drop file here..."
            />
          </b-col>
          <b-button style="width: 14%" @click="gerar">Gerar</b-button>
        </b-row>
      </b-col>
      <br />
      <b-col xl="12">
        <Apexchart
          title="Pib"
          width="900"
          height="350"
          type="line"
          :options="chartOptions"
          :series="series"
        />
      </b-col>
      <br />
    </b-row>
    <b-row>
      <b-col xl="6">
        <p v-if="maior_deficit != null">
          Maior Deficit:
          {{ maior_deficit }}
        </p>
        <p v-if="maior_superavit != null">
          Maior Superávit:
          {{ maior_superavit }}
        </p>
      </b-col>
      <b-col xl="6">
        <p v-if="maior_abertura_comercial != null">
          Maior Abertura Comercial:
          {{ maior_abertura_comercial }}
        </p>
        <p v-if="menor_abertura_comercial != null">
          Menor Abertura Comercial:
          {{ menor_abertura_comercial }}
        </p>
      </b-col>
    </b-row>
    <br />
    <b-col>
      <div class="obs">
        <p>Observações</p>
        <span>Formatado aceito: CSV</span>
        <span>
          O formato do arquivo CSV deve seguir o padão
          <a href="http://www.ipeadata.gov.br/" target="_blank">IPEADATA </a>
        </span>
      </div>
    </b-col>
  </div>
</template>

<script>
import Papa from 'papaparse'
import Vue from 'vue'
import VueApexCharts from 'vue-apexcharts'

Vue.use(VueApexCharts)
Vue.component('Apexchart', VueApexCharts)

export default Vue.extend({
  data() {
    return {
      data_inicial: '',
      data_final: '',
      arquivo_pib: null,
      dados_pib: {
        anos: [],
        valores: [],
      },
      arquivo_importacao: null,
      dados_importacao: {
        anos: [],
        valores: [],
      },
      arquivo_exportacao: null,
      dados_exportacao: {
        anos: [],
        valores: [],
      },
      deficit_superavit: [],
      coeficiente_exportacao: [],
      coeficiente_penetracao: [],
      coeficiente_abertura_comercial: [],
      maior_deficit: null,
      maior_superavit: null,
      maior_abertura_comercial: null,
      menor_abertura_comercial: null,
      series: [
        {
          name: 'Valor',
          data: [],
        },
      ],
      chartOptions: this.setChartOptions([]),
    }
  },
  methods: {
    gerar() {
      this.carregar_dados_csv()
    },
    setChartOptions(anos) {
      return {
        chart: {
          height: 350,
          type: 'line',
        },
        dataLabels: {
          enabled: false,
        },
        stroke: {
          curve: 'straight',
        },
        xaxis: {
          categories: anos,
        },
        yaxis: {
          axisBorder: {
            show: false,
          },
          axisTicks: {
            show: false,
          },
          labels: {
            show: true,
            type: 'number',
            formatter(val) {
              return val !== undefined ? val.toFixed(3) : val
            },
          },
        },
      }
    },
    setSeries() {
      return [
        {
          name: 'Déficit ou Superávit (US$ milhões)',
          data: this.deficit_superavit,
        },
        {
          name: 'Coeficiente de Exportação',
          data: this.coeficiente_exportacao,
        },
        {
          name: 'Coeficiente de Penetração',
          data: this.coeficiente_penetracao,
        },
        {
          name: 'Coeficiente de Abertura Comercial',
          data: this.coeficiente_abertura_comercial,
        },
      ]
    },
    complete(results) {
      const valores = results.data.map((value) => value[1])
      let anos = results.data.map((value) => value[0])

      // Remove último item da lista
      valores.pop()
      anos.pop()

      // Remove primeiro item da lista
      valores.shift()
      anos.shift()

      // Filtra data
      anos = this.filtra_data_inicial(anos, valores)
      anos = this.filtra_data_final(anos, valores)

      this.dados_pib.anos = anos
      this.dados_pib.valores = valores
    },
    completeImportacao(results) {
      let valores = results.data.map((value) => value[1])
      let anos = results.data.map((value) => value[0])
      // Remove último item da lista
      valores.pop()
      anos.pop()

      // Remove primeiro item da lista
      valores.shift()
      anos.shift()

      // Filtra data
      anos = this.filtra_data_inicial(anos, valores)
      anos = this.filtra_data_final(anos, valores)
      valores = this.transformacao_para_milhao(valores)

      this.dados_importacao.anos = anos
      this.dados_importacao.valores = valores
    },
    completeExportacao(results) {
      let valores = results.data.map((value) => value[1])
      let anos = results.data.map((value) => value[0])
      // Remove último item da lista
      valores.pop()
      anos.pop()

      // Remove primeiro item da lista
      valores.shift()
      anos.shift()

      // Filtra data
      anos = this.filtra_data_inicial(anos, valores)
      anos = this.filtra_data_final(anos, valores)
      valores = this.transformacao_para_milhao(valores)

      this.dados_exportacao.anos = anos
      this.dados_exportacao.valores = valores

      // calculos
      this.calculo_deficit_superavit()
      this.busca_maiores_deficit_superavit(this.deficit_superavit, anos)
      this.busca_maior_menor_coeficiente_abertura(
        this.coeficiente_abertura_comercial,
        anos
      )

      this.chartOptions = this.setChartOptions(this.dados_exportacao.anos)
      this.series = this.setSeries()
    },
    // Calculos
    calculo_deficit_superavit() {
      for (let i = 0; i < this.dados_exportacao.valores.length; i++) {
        this.dados_pib.valores[i] = Number(
          this.dados_pib.valores[i].replace(',', '.')
        )
        // Déficit ou Superávit da Economia Brasileira
        let d =
          this.dados_exportacao.valores[i] - this.dados_importacao.valores[i]
        d = d / 1000000
        this.deficit_superavit.push(d)

        //  Coeficiente de Exportação: X/PIB
        const e = this.dados_exportacao.valores[i] / this.dados_pib.valores[i]
        this.coeficiente_exportacao.push(e)

        //  Coeficiente de Penetração de Importações: M/PIB
        const ip = this.dados_importacao.valores[i] / this.dados_pib.valores[i]
        this.coeficiente_penetracao.push(ip)

        //  Coeficiente de Abertura Comercial (X+M)/PIB
        const cac =
          (this.dados_importacao.valores[i] +
            this.dados_exportacao.valores[i]) /
          this.dados_pib.valores[i]
        this.coeficiente_abertura_comercial.push(cac)
      }
    },
    async carregar_dados_csv() {
      this.deficit_superavit = []
      this.coeficiente_exportacao = []
      this.coeficiente_penetracao = []
      this.coeficiente_abertura_comercial = []

      await Papa.parse(this.arquivo_pib, {
        complete: this.complete,
      })
      await Papa.parse(this.arquivo_importacao, {
        complete: this.completeImportacao,
      })
      await Papa.parse(this.arquivo_exportacao, {
        complete: this.completeExportacao,
      })
    },
    transformacao_para_milhao(valores) {
      const novosValores = []
      valores.forEach((element) => {
        const novoValor = Number(element.replace(',', '.')) * 1000000
        novosValores.push(novoValor)
      })
      return novosValores
    },
    busca_maiores_deficit_superavit(valores, anos) {
      let superavitAux = valores[0]
      let deficitAux = valores[0]
      valores.forEach((valor, index) => {
        if (superavitAux <= valor) {
          superavitAux = valor
          this.maior_superavit = anos[index]
        }
        if (deficitAux >= valor) {
          deficitAux = valor
          this.maior_deficit = anos[index]
        }
      })
    },
    busca_maior_menor_coeficiente_abertura(valores, anos) {
      let maiorAux = valores[0]
      let menorAux = valores[0]
      valores.forEach((valor, index) => {
        if (maiorAux <= valor) {
          maiorAux = valor
          this.maior_abertura_comercial = anos[index]
        }
        if (menorAux >= valor) {
          menorAux = valor
          this.menor_abertura_comercial = anos[index]
        }
      })
    },
    filtra_data_inicial(anos, valores) {
      const ano = this.data_inicial.split('-')[0]
      const resultadoAnos = anos.filter((value) => ano <= value)
      let resultadoValores = anos.length - resultadoAnos.length
      while (resultadoValores > 0) {
        valores.shift()
        resultadoValores--
      }

      return resultadoAnos
    },
    filtra_data_final(anos, valores) {
      const ano = this.data_final.split('-')[0]
      const resultadoAnos = anos.filter((value) => ano >= value)
      let resultadoValores = anos.length - resultadoAnos.length
      while (resultadoValores > 0) {
        valores.pop()
        resultadoValores--
      }

      return resultadoAnos
    },
  },
})
</script>

<style lang="scss">
.conteudo {
  display: flex;
  flex-direction: column;
  width: calc(100% - 65px);
  margin-left: 100px;
}
.obs {
  display: flex;
  flex-direction: column;
}
.obs > p {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}
.obs > span {
  font-size: 12px;
}
</style>
