/*******************************************************************************
 * Variáveis
 *******************************************************************************/

/* Transições */
.page-enter-active,
.page-leave-active {
  transition: opacity 400ms;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

/* Cores */
$red-100: #ff8080;
$red-200: #ff6a6a;
$red-300: #e64438;
$red-400: #c83737;
$red-500: #a02c2c;

$orange-100: #ffb380;
$orange-200: #ff9955;
$orange-300: #ff7f2a;
$orange-400: #d45500;
$orange-500: #aa4400;

$yellow-100: #ffe680;
$yellow-200: #ffdd55;
$yellow-300: #ffd42a;
$yellow-400: #d4aa00;
$yellow-500: #aa8800;

$green-100: #87de87;
$green-200: #5fd35f;
$green-300: #37c837;
$green-400: #2ca02c;
$green-500: #217821;

$teal-100: #afe9c6;
$teal-200: #88deaa;
$teal-300: #4fc08d;
$teal-350: #42b882; // Tema
$teal-400: #36996e;
$teal-500: #29804f;

$blue-100: #80e5ff;
$blue-200: #00ccff;
$blue-300: #00aad4;
$blue-400: #0088aa;
$blue-500: #006680;

$ocean-100: #6eadd8;
$ocean-200: #5090c3;
$ocean-300: #396793;
$ocean-400: #38536c;
$ocean-500: #36485f; // Tema
$ocean-550: #304455;
$ocean-600: #273849;

$slate-100: #95a3ab;
$slate-200: #62727f;
$slate-300: #3c4d5d;
$slate-400: #243042;
$slate-500: #18222f;

$grey-100: #b6b6b6;
$grey-200: #888888;
$grey-300: #666666;
$grey-400: #4d4d4d;
$grey-500: #333333;

$brown-100: #beaf9d;
$brown-200: #a3907c;
$brown-300: #8a715e;
$brown-400: #715344;
$brown-500: #57392d;

$white-100: #ffffff;
$white-200: #ebebeb;
$white-300: #dbdbdb;
$white-400: #cdcdcd;
$white-500: #c2c2c2;

$transparent-100: #ffffff90;
$transparent-200: #ffffff80;
$transparent-200: #ffffff70;
$transparent-300: #ffffff60;
$transparent-400: #ffffff50;
