<template>
  <div id="sidebar">
    <b-list-group>
      <p id="disciplinas">Disciplinas</p>
      <b-list-group-item to="/ads">
        Avaliação e Desempenho de Sistemas
      </b-list-group-item>
      <b-list-group-item to="/nocoes_economia">
        Noções de Economia
      </b-list-group-item>
      <b-list-group-item to="/db_web">
        Banco de Dados e Desenvolvimento Web
      </b-list-group-item>
    </b-list-group>
  </div>
</template>

<script>
import Vue from 'vue'

export default Vue.extend({})
</script>

<style lang="scss">
#sidebar {
  position: fixed;
  height: 100%;
  width: 18%;
  margin-top: 60px;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: auto;
}

#sidebar::-webkit-scrollbar {
  display: none;
}
#disciplinas {
  color: rgb(160, 70, 85);
  font-weight: bold;
  font-size: 18px;
}
</style>
