<template>
  <div>
    <Navbar />
    <div class="body-sidebar">
      <Sidebar />
    </div>
    <div class="container">
      <Nuxt />
    </div>
  </div>
</template>

<style>
.container {
  margin: 0 auto;
  min-height: 100vh;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}
.body-sidebar {
  display: flex;
  margin-top: 60px;
  justify-content: center;
}

.links {
  padding-top: 15px;
}
p {
  margin: 0;
}
</style>
