<template>
  <div class="conteudo">
    Noções de Economia - Avaliação 1
    <b-row align-h="center">
      <b-col xl="8">
        <h5>Análise das Exportações, Importações e PIB do Brasil</h5>
        <br />
        <b-row>
          <b-col xl="6">
            <b-form-datepicker
              v-model="data_inicial"
              placeholder="Data inícial"
              :date-format-options="{
                year: 'numeric',
                month: 'numeric',
                day: 'numeric',
              }"
              locale="pt"
              start-weekday="1"
            />
          </b-col>
          <b-col xl="6">
            <b-form-datepicker
              v-model="data_final"
              placeholder="Data final"
              :date-format-options="{
                year: 'numeric',
                month: 'numeric',
                day: 'numeric',
              }"
              locale="pt"
              start-weekday="1"
            />
          </b-col>
        </b-row>
        <br />
        <b-row>
          <b-col xl="10">
            <b-form-file
              v-model="arquivo_pib"
              :state="Boolean(arquivo_pib)"
              placeholder="Selecione o arquivo do PIB"
              drop-placeholder="Drop file here..."
            />
            <hr />
            <b-form-file
              v-model="arquivo_importacao"
              :state="Boolean(arquivo_importacao)"
              placeholder="Selecione o arquivo da Importação"
              drop-placeholder="Drop file here..."
            />
            <hr />
            <b-form-file
              v-model="arquivo_exportacao"
              :state="Boolean(arquivo_exportacao)"
              placeholder="Selecione o arquivo da Exportação"
              drop-placeholder="Drop file here..."
            />
          </b-col>
          <b-button style="width: 14%" @click="gerar">Gerar</b-button>
        </b-row>
      </b-col>
      <br />
    </b-row>
    <br />
    <div class="graficos">
      <b-col xl="12">
        <Apexchart
          title="Pib"
          width="900"
          height="350"
          type="line"
          :options="chartOptionsTaxaCrescimento"
          :series="series"
        />
      </b-col>
      <br />
      <b-col xl="12">
        <Apexchart
          title="Pib"
          width="900"
          height="350"
          type="line"
          :options="chartOptionsDefictSuperavit"
          :series="seriesDefictSuperavit"
        />
      </b-col>
      <br />
      <b-col xl="12">
        <Apexchart
          title="Pib"
          width="900"
          height="350"
          type="line"
          :options="chartOptionsCoeficienteAberturaComercial"
          :series="seriesCoeficienteAberturaComercial"
        />
      </b-col>
      <br />
    </div>
    <b-col>
      <div class="obs">
        <p>Observações</p>
        <span>Formatado aceito: CSV</span>
        <span>
          O formato do arquivo CSV deve seguir o padão
          <a href="http://www.ipeadata.gov.br/" target="_blank">IPEADATA </a>
        </span>
      </div>
    </b-col>
  </div>
</template>

<script>
import Papa from 'papaparse'
import Vue from 'vue'
import VueApexCharts from 'vue-apexcharts'

Vue.use(VueApexCharts)
Vue.component('Apexchart', VueApexCharts)

export default Vue.extend({
  data() {
    return {
      data_inicial: '1995-05-05',
      data_final: '2019-05-05',
      arquivo_pib: null,
      dados_pib: {
        anos: [],
        valores: [],
        taxa_crescimento: [],
      },
      arquivo_importacao: null,
      dados_importacao: {
        anos: [],
        valores: [],
        taxa_crescimento: [],
      },
      arquivo_exportacao: null,
      dados_exportacao: {
        anos: [],
        valores: [],
        taxa_crescimento: [],
      },
      deficit_superavit: [],
      coeficiente_exportacao: [],
      coeficiente_penetracao: [],
      coeficiente_abertura_comercial: [],
      series: [
        {
          name: 'Valor',
          data: [],
        },
      ],
      seriesDefictSuperavit: [
        {
          name: 'Valor',
          data: [],
        },
      ],
      seriesCoeficienteAberturaComercial: [
        {
          name: 'Valor',
          data: [],
        },
      ],
      chartOptionsTaxaCrescimento: this.setChartOptionsTaxaCrescimento([]),
      chartOptionsDefictSuperavit: this.setChartOptionsDefictSuperavit([]),
      chartOptionsCoeficienteAberturaComercial:
        this.setChartOptionsParticipacaoPIB([]),
    }
  },
  methods: {
    gerar() {
      this.carregar_dados_csv()
    },
    setChartOptionsTaxaCrescimento(anos) {
      return {
        chart: {
          height: 350,
          type: 'line',
        },
        dataLabels: {
          enabled: false,
        },
        title: {
          text: 'Taxa de crescimento',
          align: 'left',
        },
        stroke: {
          curve: 'straight',
        },
        xaxis: {
          categories: anos,
        },
        yaxis: {
          axisBorder: {
            show: false,
          },
          axisTicks: {
            show: false,
          },
          labels: {
            show: true,
            type: 'number',
            formatter(val) {
              return val !== undefined ? val.toFixed(3) + '%' : val + '%'
            },
          },
        },
      }
    },
    setChartOptionsDefictSuperavit(anos) {
      return {
        chart: {
          height: 350,
          type: 'line',
        },
        dataLabels: {
          enabled: false,
        },
        stroke: {
          curve: 'straight',
        },
        title: {
          text: 'Déficit/superávit da economia brasileira',
          align: 'left',
        },

        xaxis: {
          categories: anos,
        },
        yaxis: {
          axisBorder: {
            show: false,
          },
          axisTicks: {
            show: false,
          },
          labels: {
            show: true,
            type: 'number',
            formatter(val) {
              return val != null
                ? val.toLocaleString('en-US', {
                    style: 'currency',
                    currency: 'USS',
                  })
                : val
            },
          },
        },
      }
    },
    setChartOptionsParticipacaoPIB(anos) {
      return {
        chart: {
          height: 350,
          type: 'line',
        },
        dataLabels: {
          enabled: false,
        },
        stroke: {
          curve: 'straight',
        },
        title: {
          text: ' Participação das Exportações e das Importações no PIB',
          align: 'left',
        },

        xaxis: {
          categories: anos,
        },
        yaxis: {
          axisBorder: {
            show: false,
          },
          axisTicks: {
            show: false,
          },
          labels: {
            show: true,
            type: 'number',
            formatter(val) {
              return val !== undefined ? val.toFixed(3) : val
            },
          },
        },
      }
    },
    setSeriesTaxaCrescimento() {
      return [
        {
          name: 'Taxa Crescimento PIB',
          data: this.dados_pib.taxa_crescimento,
        },
        {
          name: 'Taxa Crescimento Importações',
          data: this.dados_importacao.taxa_crescimento,
        },
        {
          name: 'Taxa Crescimento Exportações',
          data: this.dados_exportacao.taxa_crescimento,
        },
      ]
    },
    setSeriesDefictSuperavit() {
      return [
        {
          name: 'Déficit/superávit da economia brasileira',
          data: this.deficit_superavit,
        },
      ]
    },
    setSeriesParticipacaoPIB() {
      return [
        {
          name: 'Coeficiente de Exportação',
          data: this.coeficiente_exportacao,
        },
        {
          name: 'Coeficiente de Penetração',
          data: this.coeficiente_penetracao,
        },
        {
          name: 'Coeficiente de Abertura Comercial',
          data: this.coeficiente_abertura_comercial,
        },
      ]
    },
    completePIB(results) {
      const valores = results.data.map((value) => value[1])
      let anos = results.data.map((value) => value[0])

      // Remove último item da lista
      valores.pop()
      anos.pop()

      // Remove primeiro item da lista
      valores.shift()
      anos.shift()

      // Filtra data
      anos = this.filtra_data_inicial(anos, valores)
      anos = this.filtra_data_final(anos, valores)

      this.dados_pib.anos = anos
      this.dados_pib.valores = valores.map((valor) => valor.replace(',', '.'))
    },
    completeImportacao(results) {
      let valores = results.data.map((value) => value[1])
      let anos = results.data.map((value) => value[0])
      // Remove último item da lista
      valores.pop()
      anos.pop()

      // Remove primeiro item da lista
      valores.shift()
      anos.shift()

      // Filtra data
      anos = this.filtra_data_inicial(anos, valores)
      anos = this.filtra_data_final(anos, valores)
      valores = this.transformacao_para_milhao(valores)

      this.dados_importacao.anos = anos
      this.dados_importacao.valores = valores
    },
    completeExportacao(results) {
      let valores = results.data.map((value) => value[1])
      let anos = results.data.map((value) => value[0])
      // Remove último item da lista
      valores.pop()
      anos.pop()

      // Remove primeiro item da lista
      valores.shift()
      anos.shift()

      // Filtra data
      anos = this.filtra_data_inicial(anos, valores)
      anos = this.filtra_data_final(anos, valores)
      valores = this.transformacao_para_milhao(valores)

      this.dados_exportacao.anos = anos
      this.dados_exportacao.valores = valores

      // Calculos taxa de crescimento
      // PIB
      this.dados_pib.taxa_crescimento = this.calculo_crescimento_anual(
        this.dados_pib.valores,
        anos
      )
      this.dados_importacao.taxa_crescimento = this.calculo_crescimento_anual(
        this.dados_importacao.valores,
        anos
      )
      this.dados_exportacao.taxa_crescimento = this.calculo_crescimento_anual(
        this.dados_exportacao.valores,
        anos
      )

      // Calculos taxa de crescimento
      this.calculo_deficit_superavit()

      this.chartOptionsTaxaCrescimento =
        this.setChartOptionsTaxaCrescimento(anos)
      this.series = this.setSeriesTaxaCrescimento()
      this.chartOptionsDefictSuperavit =
        this.setChartOptionsDefictSuperavit(anos)
      this.seriesDefictSuperavit = this.setSeriesDefictSuperavit()
      this.chartOptionsCoeficienteAberturaComercial =
        this.setChartOptionsParticipacaoPIB(anos)
      this.seriesCoeficienteAberturaComercial = this.setSeriesParticipacaoPIB()
    },
    // Calculos
    calculo_deficit_superavit() {
      for (let i = 0; i < this.dados_exportacao.valores.length; i++) {
        // Déficit ou Superávit da Economia Brasileira
        const d =
          this.dados_exportacao.valores[i] - this.dados_importacao.valores[i]
        this.deficit_superavit.push(d)

        //  Coeficiente de Exportação: X/PIB
        const e = this.dados_exportacao.valores[i] / this.dados_pib.valores[i]
        this.coeficiente_exportacao.push(e)

        //  Coeficiente de Penetração de Importações: M/PIB
        const ip = this.dados_importacao.valores[i] / this.dados_pib.valores[i]
        this.coeficiente_penetracao.push(ip)

        //  Coeficiente de Abertura Comercial (X+M)/PIB
        const cac =
          (this.dados_importacao.valores[i] +
            this.dados_exportacao.valores[i]) /
          this.dados_pib.valores[i]
        this.coeficiente_abertura_comercial.push(cac)
      }
    },
    calculo_crescimento_anual(valores, anos) {
      const novosValores = []
      valores.forEach((element, index) => {
        if (index > 0) {
          const novoValor = element / valores[index - 1] - 1
          const novoValorPorcentagem = novoValor * 100
          novosValores.push(novoValorPorcentagem.toFixed(2))
        } else novosValores.push(0)
      })
      return novosValores
    },

    async carregar_dados_csv() {
      this.deficit_superavit = []
      this.coeficiente_exportacao = []
      this.coeficiente_penetracao = []
      this.coeficiente_abertura_comercial = []

      await Papa.parse(this.arquivo_pib, {
        complete: this.completePIB,
      })
      await Papa.parse(this.arquivo_importacao, {
        complete: this.completeImportacao,
      })
      await Papa.parse(this.arquivo_exportacao, {
        complete: this.completeExportacao,
      })
    },
    transformacao_para_milhao(valores) {
      const novosValores = []
      valores.forEach((element) => {
        const novoValor = Number(element.replace(',', '.')) * 1000000
        novosValores.push(novoValor)
      })
      return novosValores
    },
    filtra_data_inicial(anos, valores) {
      const ano = this.data_inicial.split('-')[0]
      const resultadoAnos = anos.filter((value) => ano <= value)
      let resultadoValores = anos.length - resultadoAnos.length
      while (resultadoValores > 0) {
        valores.shift()
        resultadoValores--
      }

      return resultadoAnos
    },
    filtra_data_final(anos, valores) {
      const ano = this.data_final.split('-')[0]
      const resultadoAnos = anos.filter((value) => ano >= value)
      let resultadoValores = anos.length - resultadoAnos.length
      while (resultadoValores > 0) {
        valores.pop()
        resultadoValores--
      }

      return resultadoAnos
    },
  },
})
</script>

<style lang="scss">
.conteudo {
  display: flex;
  flex-direction: column;
  width: calc(100% - 65px);
  margin-left: 100px;
}
.obs {
  display: flex;
  flex-direction: column;
}
.obs > p {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}
.obs > span {
  font-size: 12px;
}
.graficos {
  overflow: auto;
  height: 50vh;
}
</style>
