<template>
  <div class="pa">
    <span class="titulo-informativo">Mini histórico acadêmico</span>
    <div class="informativo">
      <p>
        Algumas atividades realizadas no curso de Engenharia da Computação na
        turma de 2017
      </p>
      <p>Faculdade de Computação e Engenharia Elétrica</p>
      <p>Universidade Federal do Sul e Sudeste do Pará</p>
    </div>
    <p>Discente: Kristhyan de Matos Maia</p>
  </div>
</template>

<script>
export default {}
</script>

<style lang="scss">
.pa {
  width: 100%;
}
.titulo-informativo {
  font-size: 20px;
  font-weight: bold;
  color: rgb(105, 26, 39);
}
.informativo > p {
  margin: 0;
}
</style>
