<template>
  <div class="conteudo">
    Noções de Economia - Atividade 1
    <b-row align-h="center">
      <b-col xl="6">
        <h5>Análise da taxa de crescimento do PIB (Brasil)</h5>
        <br />
        <b-row>
          <b-col xl="6">
            <b-form-datepicker
              v-model="data_inicial"
              placeholder="Data inícial"
              :date-format-options="{
                year: 'numeric',
                month: 'numeric',
                day: 'numeric',
              }"
              locale="pt"
              start-weekday="1"
            />
          </b-col>
          <b-col xl="6">
            <b-form-datepicker
              v-model="data_final"
              placeholder="Data final"
              :date-format-options="{
                year: 'numeric',
                month: 'numeric',
                day: 'numeric',
              }"
              locale="pt"
              start-weekday="1"
            />
          </b-col>
        </b-row>
        <br />
        <b-row>
          <b-col xl="10">
            <b-form-file
              v-model="arquivo"
              :state="Boolean(arquivo)"
              placeholder="Selecione o arquivo"
              drop-placeholder="Drop file here..."
            ></b-form-file>
          </b-col>
          <b-button @click="gerar">Gerar</b-button>
        </b-row>
      </b-col>
      <br />
      <b-col xl="12">
        <Apexchart
          title="Pib"
          width="900"
          height="350"
          type="line"
          :options="chartOptions"
          :series="series"
        />
      </b-col>
      <br />
      <b-col xl="12">
        <p v-if="periodo_maior_crescimento.fim != ''">
          Período de maior crescimento:
          {{ periodo_maior_crescimento.inicio }}-{{
            periodo_maior_crescimento.fim
          }}
        </p>
      </b-col>
    </b-row>
    <br />
    <b-col>
      <div class="obs">
        <p>Observações</p>
        <span>Formatado aceito: CSV</span>
        <span>
          O formato do arquivo CSV deve seguir o padão
          <a href="http://www.ipeadata.gov.br/" target="_blank">IPEADATA </a>
        </span>
      </div>
    </b-col>
  </div>
</template>

<script>
import Vue from 'vue'
import VueApexCharts from 'vue-apexcharts'
import Papa from 'papaparse'

Vue.use(VueApexCharts)
Vue.component('Apexchart', VueApexCharts)

export default Vue.extend({
  data() {
    return {
      data_inicial: '',
      data_final: '',
      arquivo: null,
      periodo_maior_crescimento: {
        inicio: '',
        fim: '',
      },
      series: [
        {
          name: 'Valor',
          data: [],
        },
      ],
      chartOptions: {
        chart: {
          height: 350,
          type: 'line',
        },
        dataLabels: {
          enabled: false,
        },
        stroke: {
          curve: 'straight',
        },
        title: {
          text: 'Taxa de crescimento',
          align: 'left',
        },
        grid: {
          row: {
            colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
            opacity: 0.5,
          },
        },

        xaxis: {
          categories: [],
        },
        yaxis: {
          axisBorder: {
            show: false,
          },
          axisTicks: {
            show: false,
          },
          labels: {
            show: false,
            formatter(val) {
              return val + '%'
            },
          },
        },
      },
    }
  },
  methods: {
    gerar() {
      this.carregar_dados_csv()
    },
    async carregar_dados_csv() {
      const complete = (results) => {
        let valores = results.data.map((value) => value[1])
        let anos = results.data.map((value) => value[0])

        // Remove último item da lista
        valores.pop()
        anos.pop()

        // Remove primeiro item da lista
        valores.shift()
        anos.shift()

        // Filtra data
        anos = this.filtra_data_inicial(anos, valores)
        anos = this.filtra_data_final(anos, valores)

        valores = this.calculo_crescimento_anual(valores, anos)

        this.chartOptions = {
          chart: {
            height: 350,
            type: 'line',
          },
          dataLabels: {
            enabled: false,
          },
          stroke: {
            curve: 'straight',
          },
          title: {
            text: 'Taxa de crescimento',
            align: 'left',
          },
          grid: {
            row: {
              colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
              opacity: 0.5,
            },
          },
          xaxis: {
            categories: anos,
          },
          yaxis: {
            axisBorder: {
              show: false,
            },
            axisTicks: {
              show: false,
            },
            labels: {
              show: true,
              formatter(val) {
                return val + '%'
              },
            },
          },
        }

        this.series = [
          {
            name: 'Valor',
            data: valores,
          },
        ]
      }
      await Papa.parse(this.arquivo, {
        complete,
      })
    },
    calculo_crescimento_anual(valores, anos) {
      const novosValores = []
      let crescimemto = 0.0
      valores.forEach((element, index) => {
        if (index > 0) {
          const novoValor = element / valores[index - 1] - 1
          const novoValorPorcentagem = novoValor * 100
          novosValores.push(novoValorPorcentagem.toFixed(2))
          crescimemto = this.verifica_maior_crescimento(
            crescimemto,
            novoValorPorcentagem,
            anos,
            index
          )
        } else novosValores.push(0)
      })
      return novosValores
    },
    verifica_maior_crescimento(crescimemto, novoValorPorcentagem, anos, index) {
      if (crescimemto < novoValorPorcentagem) {
        this.periodo_maior_crescimento.inicio = anos[index - 1]
        this.periodo_maior_crescimento.fim = anos[index]
        crescimemto = novoValorPorcentagem
      }
      return crescimemto
    },
    filtra_data_inicial(anos, valores) {
      const ano = this.data_inicial.split('-')[0]
      const resultadoAnos = anos.filter((value) => ano <= value)
      let resultadoValores = anos.length - resultadoAnos.length
      while (resultadoValores > 0) {
        valores.shift()
        resultadoValores--
      }

      return resultadoAnos
    },
    filtra_data_final(anos, valores) {
      const ano = this.data_final.split('-')[0]
      const resultadoAnos = anos.filter((value) => ano >= value)
      let resultadoValores = anos.length - resultadoAnos.length
      while (resultadoValores > 0) {
        valores.pop()
        resultadoValores--
      }

      return resultadoAnos
    },
  },
})
</script>

<style lang="scss">
.conteudo {
  display: flex;
  flex-direction: column;
  width: calc(100% - 65px);
  margin-left: 100px;
}
.obs {
  display: flex;
  flex-direction: column;
}
.obs > p {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}
.obs > span {
  font-size: 12px;
}
</style>
